  <a routerLink="/home" [routerLinkActive]="'active'">
    <img class="isologotipo rounded-circle my-3" [src]="imageLogo" alt="">
  </a>
  <h3 class="isologoTexto">Equilibro Dental</h3>
  <div class="row">
    <div class="accordion p-0" id="menu">
      <div class="accordion-item">
        <h5 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#SubmenuPaciente" aria-expanded="true" aria-controls="SubmenuPaciente">
            <i class='bx bxs-group mx-2'></i>
            <span>Pacientes</span>
          </button>
        </h5>
        <div id="SubmenuPaciente" class="accordion-collapse collapse" data-bs-parent="#menu">
          <div class="accordion-body">
            <i class='bx bxs-user-plus mx-2'></i>
            <a class="text-reset" routerLink="/formPaciente" [routerLinkActive]="'active'">Registrar Paciente</a>
          </div>
          <div class="accordion-body">
            <i class='bx bxs-user-detail mx-2'></i>
            <a class="text-reset" routerLink="/pacientes" [routerLinkActive]="'active'">Mostrar Pacientes</a>
          </div>
          <div class="accordion-body">
            <i class='bx bx-search-alt-2 mx-2'></i>
            <a routerLink="/informacionPacientes" [routerLinkActive]="'active'" class="text-reset">Buscar Paciente</a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h5 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#SubmenuFacturacion" aria-expanded="true" aria-controls="SubmenuFacturacion">
            <i class='bx bxs-group mx-2'></i>
            <span>Facturacion</span>
          </button>
        </h5>
        <div id="SubmenuFacturacion" class="accordion-collapse collapse" data-bs-parent="#menu">

          <div class="accordion-body">
            <i class='bx bxs-user-plus mx-2'></i>
            <a class="text-reset" href="#">Facturar</a>
          </div>
          <div class="accordion-body">
            <i class='bx bx-search-alt-2 mx-2'></i>
            <a href="#" class="text-reset">Buscar Factura</a>
          </div>
        </div>
      </div>
    </div>

  </div>


