<div class="row">

    <h3 class="text-body-primary fw-bold text-center display-5 p-3">Formulario Paciente</h3>
</div>
<!-- Nav tabs -->
<nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active bg-primary text-white" data-bs-toggle="tab" data-bs-target="#datosPersonales"
        type="button" role="tab" aria-selected="true">Datos
        Personales</button>
    <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#imagenes" type="button"
        role="tab" aria-selected="false">Imágenes</button>
    <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#obraSocial" type="button"
        role="tab" aria-selected="true">Obra Social</button>
    <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#declaracionJurada"
        type="button" role="tab" aria-selected="false">Historía Clínica Médica</button>
    <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#declaracionJurada1"
        type="button" role="tab" aria-selected="false">Historía Clínica Odontológica</button>
    <button class="nav-link bg-primary text-white" data-bs-toggle="tab" data-bs-target="#tabOdontograma" type="button"
        role="tab" aria-selected="false">Odontograma</button>
</nav>
<div class="registro border border-primary">
    <form  (ngSubmit)="guardarPaciente()" enctype="multipart/form-data">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="datosPersonales" role="tabpanel" tabindex="0">
                <div class="row p-4">
                    <div class="col-md-6 mb-3">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputNombre" [(ngModel)]="domicilio.paciente.nombre" name="nombre">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="inputApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="inputApellido" [(ngModel)]="domicilio.paciente.apellido" name="apellido">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputDni" class="form-label">DNI</label>
                        <input type="text" placeholder="11222333" class="form-control" id="inputDni"
                            [(ngModel)]="domicilio.paciente.dni" name="dni">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputTelefono" class="form-label">Telefono</label>
                        <input type="tel" class="form-control" id="inpuTelefono" placeholder="3885872108"
                            [(ngModel)]="domicilio.paciente.telefono" name="telefono">
                    </div>
                    <div class="col-md-4">
                        <label for="nacionalidad" class="form-label">Nacionalidad</label>
                        <input type="text" class="form-control" id="inpuTelefono" 
                            [(ngModel)]="domicilio.paciente.nacionalidad" name="nacionalidad">
                        <!--
                        <select id="nacionalidad" name="nacionalidad" class="form-select">
                            <option th:each="nacionalidad : ${listaNacionalidad}" th:value="${nacionalidad}"
                                th:text="${nacionalidad}">
                            </option>
                        </select>
                        -->
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="inputFechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="inputFechaNacimiento"
                            [(ngModel)]="domicilio.paciente.fechanacimiento" name="fechaNacimiento">
                    </div>
                    <h4 class="mb-3 fw-bold mt-3">Domicilio</h4>
                    <hr>
                    
                    <div class="col-md-5 mb-3">
                        <label for="inputCalle" class="form-label">Calle</label>
                        <input type="text" placeholder="calle" class="form-control" id="inputCalle"
                        [(ngModel)]="domicilio.calle" name="fechaNacimiento">
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="inputNumero" class="form-label">Numero</label>
                        <input type="number" placeholder="1122" class="form-control" id="inputNumero"
                            
                        [(ngModel)]="domicilio.nrocalle" name="nrocalle">

                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="inputNumero" class="form-label">Barrio: </label>
                        <input type="text" placeholder="ej: Los Perales" class="form-control" id="inputNumero"
                        [(ngModel)]="domicilio.barrio" name="barrio">
                            
                    </div>
                    <!--
                    <div class="col-md-3 mb-3">
                        <label for="inputLocalidad" class="form-label">Localidad</label>
                        <select id="inputLocalidad" class="form-select" name="localidad"
                            th:field="*{domicilio.localidad}">
                            <option th:each="localidad : ${listaLocalidad}" th:value="${localidad}"
                                th:text="${localidad}">
                            </option>
                        </select>
                    </div>
 -->
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <input type="button" id="siguiente" value="Siguiente" (click)="nextTab('#imagenes')"
                            class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>