
<div class="row p-4">
    <h5 class="text-danger text-end fs-6 fw-bold">*Este cuestionario tiene el tenor de una "Declaración
        Jurada"</h5>
    <h4 class="mb-3 fw-bold col-md-12">Información Familiar</h4>
    <hr>
    <div class="form-ckeck col-md-3 p-4">
        <label class="me-3">Padre con vida?</label>
        <label for="padreViveSi">si</label>
        <input class="form-check-input" type="radio" name="padreVive" id="padreViveSi">
        <label for="padreViveNo">No</label>
        <input class="form-check-input" type="radio" name="padreVive" id="padreViveNo">
    </div>
    <div class="form-group row col-md-9 p-4">
        <label for="enfermedadPadre" class="col-5 col-form-label">Enfermedad que padece
            o padeció: </label>
        <div class="col-7">
            <input type="text" class="form-control" id="enfermedadPadre">
        </div>
    </div>
    <div class="form-ckeck col-md-3 p-4">
        <label class="me-3">Madre con vida?</label>
        <label for="madreViveSi">si</label>
        <input class="form-check-input" type="radio" name="madreVive" id="madreViveSi">
        <label for="madreViveNo">No</label>
        <input class="form-check-input" type="radio" name="madreVive" id="madreViveNo">
    </div>
    <div class="form-group row col-md-9 p-4">
        <label for="enfermedadMadre" class="col-5 col-form-label">Enfermedad que padece
            o padeció: </label>
        <div class="col-7">
            <input type="text" class="form-control" id="enfermedadMadre">
        </div>
    </div>
    <div class="form-ckeck col-md-3 p-4">
        <label class="me-3">Tiene hermanos?</label>
        <label for="hermanosSi">si</label>
        <input class="form-check-input" type="radio" name="hermanos" id="hermanosSi"
            [(ngModel)]="tieneHermanos" (ngModelChange)="mostrarPregunta()" value="si">
        <label for="hermanosNo">No</label>
        <input class="form-check-input" type="radio" name="hermanos" id="hermanosNo"
            [(ngModel)]="tieneHermanos" (ngModelChange)="reiniciarPregunta()" value="no">
    </div>
    <div class="form-ckeck col-md-9 p-4" *ngIf="tieneHermanos === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulHermanos, 'sin-fondo': !fondoAzulHermanos}">
        <label class="me-3">Estan sanos?</label>
        <label for="hermanosSanosSi">si</label>
        <input class="form-check-input" type="radio" name="hermanosSanos" id="hermanosSanosSi">
        <label for="hermanosSanosNo">No</label>
        <input class="form-check-input" type="radio" name="hermanosSanos" id="hermanosSanosNo">
    </div>

    <h4 class="mb-3 mt-3 fw-bold col-md-12">Salud Del Paciente</h4>
    <hr>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Sufre de alguna enfermedad?</label>
        <label for="enfermedadSi">si</label>
        <input class="form-check-input" type="radio" name="enfermedad" id="enfermedadSi"
            [(ngModel)]="enfermedad" (ngModelChange)="mostrarPreguntaEnfermedad()" value="si">
        <label for="enfermedadNo">No</label>
        <input class="form-check-input" type="radio" name="enfermedad" id="enfermedadNo"
            [(ngModel)]="enfermedad" (ngModelChange)="mostrarPreguntaEnfermedad()" value="no">
    </div>
    <div *ngIf="enfermedad === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulEnfermedad, 'sin-fondo': !fondoAzulEnfermedad}">
        <div class="row mt-3">
            <div class="form-group row col-md-7 p-4">
                <label for="enfermedadTipo" class="col-6 col-form-label">De cuál o
                    cuáles enfermedades?: </label>
                <div class="col-6">
                    <input type="text" class="form-control" id="enfermedadTipo">
                </div>
            </div>

            <div class="form-ckeck col-md-5 p-4">
                <label class="me-3">Hace algún tratamiento médico?:</label>
                <label for="tratamientoSi">si</label>
                <input class="form-check-input" type="radio" name="tratamiento" id="tratamientoSi">
                <label for="tratamientoNo">No</label>
                <input class="form-check-input" type="radio" name="tratamiento" id="tratamientoNo">
            </div>

            <div class="form-group row col-md-12 p-4">
                <label for="tratamientoTipo" class="col-2 col-form-label">Cuál o
                    cuáles?: </label>
                <div class="col-10">
                    <input type="text" class="form-control" id="tratamientoTipo">
                </div>
            </div>

            <div class="form-group col-md-6 p-4">
                <label for="medicamentos" class="col col-form-label">Qué medicamentos
                    consume habitualmente?: </label>
                <div class="col">
                    <input type="text" class="form-control" id="medicamentos">
                </div>
            </div>

            <div class="form-group col-md-6 p-4">
                <label for="medicamentos5años" class="col col-form-label">Qué
                    medicamentos ha consumido en los últimos 5 años?: </label>
                <div class="col">
                    <input type="text" class="form-control" id="medicamentos5años">
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Realiza algún deporte?:</label>
        <label for="deporteSi">si</label>
        <input class="form-check-input" type="radio" name="deporte" id="deporteSi" [(ngModel)]="deporte"
            (ngModelChange)="mostrarPreguntaDeporte()" value="si">
        <label for="deporteNo">No</label>
        <input class="form-check-input" type="radio" name="deporte" id="deporteNo" [(ngModel)]="deporte"
            (ngModelChange)="mostrarPreguntaDeporte()" value="no">
    </div>
    <div class="form-ckeck col-md-6 p-4" *ngIf="deporte === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulDeporte, 'sin-fondo': !fondoAzulDeporte}">
        <label class="me-3">Nota algún malestar al realizarlo?:</label>
        <label for="deporteMalestarSi">si</label>
        <input class="form-check-input" type="radio" name="deporteMalestar" id="deporteMalestarSi">
        <label for="deporteMalestarNo">No</label>
        <input class="form-check-input" type="radio" name="deporteMalestar" id="deporteMalestarNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Es alérgico a alguna droga?:</label>
        <label for="drogaAlergiaSi">si</label>
        <input class="form-check-input" type="radio" name="drogaAlergia" id="drogaAlergiaSi"
            [(ngModel)]="droga" (ngModelChange)="mostrarPreguntaDroga()" value="si">
        <label for="drogaAlergiaNo">No</label>
        <input class="form-check-input" type="radio" name="drogaAlergia" id="drogaAlergiaNo"
            [(ngModel)]="droga" (ngModelChange)="mostrarPreguntaDroga()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="droga === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulDroga, 'sin-fondo': !fondoAzulDroga}">
        <label for="drogaAlergiaTipo" class="col col-form-label">A cuál o cuáles drogas?
            (Ej: a la anestesia, penicilina): </label>
        <div class="col">
            <input type="text" class="form-control" id="drogaAlergiaTipo">
        </div>
    </div>
    <div class="form-group col-md-6 p-4">
        <label for="muela" class="col col-form-label">Cuando le sacan una muela o se
            lastima, cicatriza bien?, sangra mucho?: </label>
        <div class="col">
            <input type="text" class="form-control" id="muela">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene problemas de colágeno (hiperlaxitud)?:</label>
        <label for="hiperlaxitudSi">si</label>
        <input class="form-check-input" type="radio" name="hiperlaxitud" id="hiperlaxitudSi">
        <label for="hiperlaxitudNo">No</label>
        <input class="form-check-input" type="radio" name="hiperlaxitud" id="hiperlaxitudNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Antecedentes de fiebre reumática?:</label>
        <label for="fiebreReumaticaSi">si</label>
        <input class="form-check-input" type="radio" name="fiebreReumatica" id="fiebreReumaticaSi"
            [(ngModel)]="fiebre" (ngModelChange)="mostrarPreguntaFiebre()" value="si">
        <label for="fiebreReumaticaNo">No</label>
        <input class="form-check-input" type="radio" name="fiebreReumatica" id="fiebreReumaticaNo"
            [(ngModel)]="fiebre" (ngModelChange)="mostrarPreguntaFiebre()" value="no">
    </div>
    <div class="form-ckeck col-md-6 p-4" *ngIf="fiebre === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulFiebre, 'sin-fondo': !fondoAzulFiebre}">
        <label class="me-3">Se protege con alguna medicación?:</label>
        <label for="fiebreMedicacionSi">si</label>
        <input class="form-check-input" type="radio" name="fiebreMedicacion" id="fiebreMedicacionSi">
        <label for="fiebreMedicacionNo">No</label>
        <input class="form-check-input" type="radio" name="fiebreMedicacion" id="fiebreMedicacionNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Es diabético?:</label>
        <label for="diabeticoSi">si</label>
        <input class="form-check-input" type="radio" name="diabetico" id="diabeticoSi"
            [(ngModel)]="diabetes" (ngModelChange)="mostrarPreguntaDiabetes()" value="si">
        <label for="diabeticoNo">No</label>
        <input class="form-check-input" type="radio" name="diabetico" id="diabeticoNo"
            [(ngModel)]="diabetes" (ngModelChange)="mostrarPreguntaDiabetes()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="diabetes === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulDiabetes, 'sin-fondo': !fondoAzulDiabetes}">
        <label for="diabetesControl" class="col col-form-label">Está controlado?, con
            qué?: </label>
        <div class="col">
            <input type="text" class="form-control" id="diabetesControl">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene algún problema cardíaco?:</label>
        <label for="cardiacoSi">si</label>
        <input class="form-check-input" type="radio" name="cardiaco" id="cardiacoSi"
            [(ngModel)]="cardiaco" (ngModelChange)="mostrarPreguntaCardiaco()" value="si">
        <label for="cardiacoNo">No</label>
        <input class="form-check-input" type="radio" name="cardiaco" id="cardiacoNo"
            [(ngModel)]="cardiaco" (ngModelChange)="mostrarPreguntaCardiaco()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="cardiaco === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulCardiaco, 'sin-fondo': !fondoAzulCardiaco}">
        <label for="cardiacoTipo" class="col col-form-label">Cuál?: </label>
        <div class="col">
            <input type="text" class="form-control" id="cardiacoTipo">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Toma seguido aspirina y/o anticoagulante?:</label>
        <label for="aspirinaSi">Si, aspirina</label>
        <input class="form-check-input" type="radio" name="aspirinaAnti" id="aspirinaSi"
            [(ngModel)]="aspirina" (ngModelChange)="mostrarPreguntaAspirina()" value="aspirina">
        <label for="anticoagulanteSi">Si, anticoagulante</label>
        <input class="form-check-input" type="radio" name="aspirinaAnti" id="anticoagulanteSi"
            [(ngModel)]="aspirina" (ngModelChange)="mostrarPreguntaAspirina()" value="anticoagulante">
        <label for="ninguna">Ninguna</label>
        <input class="form-check-input" type="radio" name="aspirinaAnti" id="ninguna"
            [(ngModel)]="aspirina" (ngModelChange)="mostrarPreguntaAspirina()" value="ninguna">
    </div>
    <div class="form-group col-md-12 p-4"
        *ngIf="aspirina === 'aspirina' || aspirina === 'anticoagulante'"
        [ngClass]="{'fondo-azul': fondoAzulAspirina, 'sin-fondo': !fondoAzulAspirina}">
        <label for="aspirinaFrecuencia" class="col col-form-label">Con qué frecuencia?:
        </label>
        <div class="col">
            <input type="text" class="form-control" id="aspirinaFrecuencia">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene presión Alta?:</label>
        <label for="presionAltaSi">si</label>
        <input class="form-check-input" type="radio" name="presionAlta" id="presionAltaSi">
        <label for="presionAltaNo">No</label>
        <input class="form-check-input" type="radio" name="presionAlta" id="presionAltaNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene chagas?:</label>
        <label for="chagasSi">si</label>
        <input class="form-check-input" type="radio" name="chagas" id="chagasSi" [(ngModel)]="chagas"
            (ngModelChange)="mostrarPreguntaChagas()" value="si">
        <label for="chagasNo">No</label>
        <input class="form-check-input" type="radio" name="chagas" id="chagasNo" [(ngModel)]="chagas"
            (ngModelChange)="mostrarPreguntaChagas()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="chagas === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulChagas, 'sin-fondo': !fondoAzulChagas}">
        <label for="chagasTratamiento" class="col col-form-label">Está en tratamiento?,
            qué tipo de tratamiento?: </label>
        <div class="col">
            <input type="text" class="form-control" id="chagasTratamiento">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene problemas renales?:</label>
        <label for="renalesSi">si</label>
        <input class="form-check-input" type="radio" name="renales" id="renalesSi">
        <label for="renalesNo">No</label>
        <input class="form-check-input" type="radio" name="renales" id="renalesNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene ulcera gástrica?:</label>
        <label for="ulceraSi">si</label>
        <input class="form-check-input" type="radio" name="ulcera" id="ulceraSi">
        <label for="ulceraNo">No</label>
        <input class="form-check-input" type="radio" name="ulcera" id="ulceraNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tuvo hepatitis?:</label>
        <label for="hepatitisSi">si</label>
        <input class="form-check-input" type="radio" name="hepatitis" id="hepatitisSi"
            [(ngModel)]="hepatitis" (ngModelChange)="mostrarPreguntaHepatitis()" value="si">
        <label for="hepatitisNo">No</label>
        <input class="form-check-input" type="radio" name="hepatitis" id="hepatitisNo"
            [(ngModel)]="hepatitis" (ngModelChange)="mostrarPreguntaHepatitis()" value="no">
    </div>
    <div class="form-ckeck col-md-6 p-4" *ngIf="hepatitis === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulHepatitis, 'sin-fondo': !fondoAzulHepatitis}">
        <label class="me-3">De qué tipo?:</label>
        <label for="hepatitisA">A</label>
        <input class="form-check-input" type="radio" name="hepatitisTipo" id="hepatitisA">
        <label for="hepatitisB">B</label>
        <input class="form-check-input" type="radio" name="hepatitisTipo" id="hepatitisB">
        <label for="hepatitisC">C</label>
        <input class="form-check-input" type="radio" name="hepatitisTipo" id="hepatitisC">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tuvo algún problema hepático?:</label>
        <label for="hepaticoSi">si</label>
        <input class="form-check-input" type="radio" name="hepatico" id="hepaticoSi"
            [(ngModel)]="hepatico" (ngModelChange)="mostrarPreguntaHepatico()" value="si">
        <label for="hepaticoNo">No</label>
        <input class="form-check-input" type="radio" name="hepatico" id="hepaticoNo"
            [(ngModel)]="hepatico" (ngModelChange)="mostrarPreguntaHepatico()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="hepatico === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulHepatico, 'sin-fondo': !fondoAzulHepatico}">
        <label for="hepaticoTipo" class="col col-form-label">Cuál?: </label>
        <div class="col">
            <input type="text" class="form-control" id="hepaticoTipo">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tuvo convulsiones?:</label>
        <label for="convulsionesSi">si</label>
        <input class="form-check-input" type="radio" name="convulsiones" id="convulsionesSi">
        <label for="convulsionesNo">No</label>
        <input class="form-check-input" type="radio" name="convulsiones" id="convulsionesNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Es epiléptico?:</label>
        <label for="epilepticoSi">si</label>
        <input class="form-check-input" type="radio" name="epileptico" id="epilepticoSi"
            [(ngModel)]="epileptico" (ngModelChange)="mostrarPreguntaEpileptico()" value="si">
        <label for="epilepticoNo">No</label>
        <input class="form-check-input" type="radio" name="epileptico" id="epilepticoNo"
            [(ngModel)]="epileptico" (ngModelChange)="mostrarPreguntaEpileptico()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="epileptico === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulEpileptico, 'sin-fondo': !fondoAzulEpileptico}">
        <label for="epilepticoMedicacion" class="col col-form-label">Qué medicación
            toma?: </label>
        <div class="col">
            <input type="text" class="form-control" id="epilepticoMedicacion">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Ha tenido sifilis o gonorrea?:</label>
        <label for="sifilisSi">Si, sifilis</label>
        <input class="form-check-input" type="radio" name="sifilisGonorrea" id="sifilisSi">
        <label for="gonorreaSi">Si, gonorrea</label>
        <input class="form-check-input" type="radio" name="sifilisGonorrea" id="gonorreaSi">
        <label for="sifilisGonorreaNo">No, nunca tuve sifilis o gonorrea</label>
        <input class="form-check-input" type="radio" name="sifilisGonorrea" id="sifilisGonorreaNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Otra enfermedad infecto-contagiosa?:</label>
        <label for="infectoSi">Si</label>
        <input class="form-check-input" type="radio" name="infecto" id="infectoSi" [(ngModel)]="infecto"
            (ngModelChange)="mostrarPreguntaInfecto()" value="si">
        <label for="infectoNo">No</label>
        <input class="form-check-input" type="radio" name="infecto" id="infectoNo" [(ngModel)]="infecto"
            (ngModelChange)="mostrarPreguntaInfecto()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="infecto === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulInfecto, 'sin-fondo': !fondoAzulInfecto}">
        <label for="infectoTipo" class="col col-form-label">Cuál?: </label>
        <div class="col">
            <input type="text" class="form-control" id="infectoTipo">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tuvo transfusiones?:</label>
        <label for="transfusionSi">Si</label>
        <input class="form-check-input" type="radio" name="transfusion" id="transfusionSi">
        <label for="transfusionNo">No</label>
        <input class="form-check-input" type="radio" name="transfusion" id="transfusionNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Fue operado alguna vez?:</label>
        <label for="operadoSi">Si</label>
        <input class="form-check-input" type="radio" name="operado" id="operadoSi" [(ngModel)]="operado"
            (ngModelChange)="mostrarPreguntaOperado()" value="si">
        <label for="operadoNo">No</label>
        <input class="form-check-input" type="radio" name="operado" id="operadoNo" [(ngModel)]="operado"
            (ngModelChange)="mostrarPreguntaOperado()" value="no">
    </div>
    <div *ngIf="operado === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulOperado, 'sin-fondo': !fondoAzulOperado}">
        <div class="row">
            <div class="form-group col-md-6 p-4">
                <label for="operacionTipo" class="col col-form-label">De qué?: </label>
                <div class="col">
                    <input type="text" class="form-control" id="operacionTipo">
                </div>
            </div>
            <div class="form-group col-md-6 p-4">
                <label for="operacionCuando" class="col col-form-label">Cuando?:
                </label>
                <div class="col">
                    <input type="text" class="form-control" id="operacionCuando">
                </div>
            </div>
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Tiene algún problema respiratorio?:</label>
        <label for="respiratorioSi">Si</label>
        <input class="form-check-input" type="radio" name="respiratorio" id="respiratorioSi"
            [(ngModel)]="respiratorio" (ngModelChange)="mostrarPreguntaRespiratorio()" value="si">
        <label for="respiratorioNo">No</label>
        <input class="form-check-input" type="radio" name="respiratorio" id="respiratorioNo"
            [(ngModel)]="respiratorio" (ngModelChange)="mostrarPreguntaRespiratorio()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="respiratorio === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulRespiratio, 'sin-fondo': !fondoAzulRespiratio}">
        <label for="respiratorioTipo" class="col col-form-label">Cuál?: </label>
        <div class="col">
            <input type="text" class="form-control" id="respiratorioTipo">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Fuma?:</label>
        <label for="fumaSi">Si</label>
        <input class="form-check-input" type="radio" name="fuma" id="fumaSi">
        <label for="fumaNo">No</label>
        <input class="form-check-input" type="radio" name="fuma" id="fumaNo">
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Está embarazada?:</label>
        <label for="embarazadaSi">Si</label>
        <input class="form-check-input" type="radio" name="embarazada" id="embarazadaSi"
            [(ngModel)]="embarazada" (ngModelChange)="mostrarPreguntaEmbarazo()" value="si">
        <label for="embarazadaNo">No</label>
        <input class="form-check-input" type="radio" name="embarazada" id="embarazadaNo"
            [(ngModel)]="embarazada" (ngModelChange)="mostrarPreguntaEmbarazo()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="embarazada === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulEmbarazada, 'sin-fondo': !fondoAzulEmbarazada}">
        <label for="embarazadaMeses" class="col col-form-label">De cuantos meses?:
        </label>
        <div class="col">
            <input type="text" class="form-control" id="embarazadaMeses">
        </div>
    </div>
    <div class="form-ckeck col-md-6 p-4">
        <label class="me-3">Hay alguna otra enfermedad o recomendación de su médico que
            quiera dejar constancia?:</label>
        <label for="recomendacionMedicaSi">Si</label>
        <input class="form-check-input" type="radio" name="recomendacionMedica"
            id="recomendacionMedicaSi" [(ngModel)]="recomendacionMedica"
            (ngModelChange)="mostrarPreguntaRecomendacionM()" value="si">
        <label for="recomendacionMedicaNo">No</label>
        <input class="form-check-input" type="radio" name="recomendacionMedica"
            id="recomendacionMedicaNo" [(ngModel)]="recomendacionMedica"
            (ngModelChange)="mostrarPreguntaRecomendacionM()" value="no">
    </div>
    <div class="form-group col-md-12 p-4" *ngIf="recomendacionMedica === 'si'"
        [ngClass]="{'fondo-azul': fondoAzulRecomendacionMedica, 'sin-fondo': !fondoAzulRecomendacionMedica}">
        <label for="recomendacionMedicaTipo" class="col col-form-label">Cuál?: </label>
        <div class="col">
            <input type="text" class="form-control" id="recomendacionMedicaTipo">
        </div>
    </div>
    <div class="form-group col-md-6 p-4">
        <label for="tratamientoHomeo" class="col col-form-label">Realiza algún tipo de
            tratamiento homeopático, acupuntura, otros?: </label>
        <div class="col">
            <input type="text" class="form-control" id="tratamientoHomeo">
        </div>
    </div>
    <div class="form-group col-md-6 p-4">
        <label for="medicoClinico" class="col col-form-label">Médico Clinico: </label>
        <div class="col">
            <input type="text" class="form-control" id="medicoClinico">
        </div>
    </div>
    <div class="form-group col-md-6 p-4">
        <label for="clinicaHospital" class="col col-form-label">Clínica/Hospital en caso
            de hacer falta derivación?: </label>
        <div class="col">
            <input type="text" class="form-control" id="clinicaHospital">
        </div>
    </div>
    <div class="text-center mt-3">
        <input type="button" id="anterior" value="Anterior" routerLink="/formPaciente/obraSocial" routerLinkActive="active"
            class="btn btn-secondary" />
        <input type="button" id="siguiente" value="Siguiente" routerLink="/formPaciente/historiaOdontologica" routerLinkActive="active"
            class="btn btn-primary" />
    </div>
</div>