
<div class=" row justify-content-end">
    <div class="col-12" id="grupo1">
        <canvas id="canvas1" class="position-absolute z-0"></canvas>
        <canvas id="canvas2" class="position-absolute z-1"></canvas>
        <canvas id="canvas3" class="position-absolute z-2"></canvas>
    </div>
    <div class="col-8" id="grupo2">
        <canvas id="canvas4" class="position-absolute z-0"></canvas>
        <canvas id="canvas5" class="position-absolute z-1"></canvas>
        <canvas id="canvas6" class="position-absolute z-2"></canvas>
    </div>
    <div class="col-2">
        <input type="radio" class="btn-check" name="opcionColor" id="inputColorAzul" autocomplete="off"
            checked>
        <label class="btn btn-outline-primary" for="inputColorAzul">Azul</label>
        <input type="radio" class="btn-check" name="opcionColor" id="inputColorRojo" autocomplete="off">
        <label class="btn btn-outline-danger" for="inputColorRojo">Rojo</label>
    </div>
</div>
<div class="text-center mt-3">
    <input type="button" id="anterior" value="Anterior" routerLink="/formPaciente/historiaOdontologica" routerLinkActive="active"
        class="btn btn-secondary" />
</div>