@if (pacientes.length >0) {
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>apellido</th>
                
            </tr>
        </thead>
        <tbody>
            @for (paciente of pacientes; track $index) {
                <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.apellido }}</td>
                </tr>
            }
        </tbody>
    </table>
}

