
<div class="row p-4">

    <h4 class="mb-3 fw-bold mt-3 col-md-6">Obra Social</h4>
    <hr>
    <div class="col-md-5 mb-3">
        <label for="inputObraSocial" class="form-label">Obra Social</label>
        <select id="inputSocial" class="form-select">
            <option selected>Medife</option>
            <option>Empleados de Comercio</option>
            <option>Policia</option>
            <option>Servicio Penitenciario</option>
        </select>
    </div>
    <div class="text-center mt-3">
        <input type="button" id="anterior" value="Anterior" routerLink="/formPaciente/imagenes" routerLinkActive="active"
            class="btn btn-secondary" />
        <input type="button" id="siguiente" value="Siguiente" routerLink="/formPaciente/historiaMedica" routerLinkActive="active"
            class="btn btn-primary" />
    </div>
</div>